.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  min-height: 80vh;
}
.dialogItems {
  width: 100%;
  padding: 20px;
}

.dialogItems .active {
  text-decoration: none;
  width: fit-content;
  font-weight: bold;
}
.messages {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.102);
  padding: 40px;
  text-decoration: none;
}
.dialogItem {
  text-decoration: none;
  font-weight: bold;
}
.dialogItem:hover {
  text-decoration: none;
}

.dialogs div {
  margin-top: 10px;
}
